*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Public Sans', sans-serif;

    &>header{
        background-image: url(images/image-hero-desktop.jpg);
        background-size: cover;
        height: 500px;
        position: relative;
        margin: 0px auto;
        display: block;
        z-index: -1;

        nav{
            max-width: 1440px;
            margin: 0px auto;
            .container{
                margin-top: 0px;
                background-color: transparent;
                img{
                    position: relative;
                }
                position: absolute;
                max-width: 1440px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 20px 30px;
                ul{
                    list-style-type: none;
                    li{
                        display: inline-block;
                        padding: 0px 10px;
                        a{
                            color: white;
                            font-weight:bold ;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .container{
        margin: 0px auto;
        max-width: 1440px;
        width: 80%;
        margin-top: -80px;
        z-index: 1;
        text-align: center;
        section{
            background-color: white;
            margin: 0px auto auto 50px;
            width: 90%;
            margin-bottom: 50px;
            padding:0px 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 3px 0px grey;
        }
        .head-menu{
            position: relative;
            .mastercraft{
                position: absolute;
                top: -16%;
                left: 50%;
                transform: translateX(-50%);
            }
            h1{
                color:black;
                font-weight: bold;
                text-align: center;
                font-size: 30px;
                line-height: 3;
            }
            .flexTwo{
                margin: 20px;
                display: flex;
                justify-content: space-between;
                padding-bottom: 20px;
                button{
                    font-weight: bold;
                    border: none;
                    padding: 20px;
                    color: white;
                    border-radius: 30px;
                    width: 180px;
                    cursor: pointer;
                    background-color: hsl(176, 50%, 47%);
                }
                .toggle{
                    background-color: rgb(197, 195, 195);
                    position: relative;
                    text-align: center;
                    color: rgb(37, 37, 37);
                    img{
                        position: absolute;
                        height: 100%;
                        left: 0px;
                        top: 0px;
                    }
                }
            }
            
        }
        .statices{
            .grid-3{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                div{
                    ::after{
                        content: "";
                        width: 1px;
                        background-color: black;
                        position: absolute;
                        left: 0px;
                    }
                }
            }
            .progress{
                width: 100%;
                height: 10px;
                background-color: #eee;
                border-radius: 10px;
                margin-top: 20px;
                z-index: -1;
                span{
                    z-index: 99;
                    width: 80%;
                    background-color: hsl(176, 50%, 47%);
                    height: 10px;
                    border-radius: 10px;
                }
            }
        }
    }
}
