* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Public Sans', sans-serif;
}

body > header {
  background-image: url(images/image-hero-desktop.jpg);
  background-size: cover;
  height: 500px;
  position: relative;
  margin: 0px auto;
  display: block;
  z-index: -1;
}

body > header nav {
  max-width: 1440px;
  margin: 0px auto;
}

body > header nav .container {
  margin-top: 0px;
  background-color: transparent;
  position: absolute;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
}

body > header nav .container img {
  position: relative;
}

body > header nav .container ul {
  list-style-type: none;
}

body > header nav .container ul li {
  display: inline-block;
  padding: 0px 10px;
}

body > header nav .container ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

body .container {
  margin: 0px auto;
  max-width: 1440px;
  width: 70%;
  margin-top: -80px;
  z-index: 1;
  text-align: center;
}

body .container section {
  background-color: white;
  margin: 0px auto auto 50px;
  width: 90%;
  margin-bottom: 50px;
  padding: 0px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 0px grey;
          box-shadow: 0px 0px 3px 0px grey;
}

body .container .head-menu {
  position: relative;
}

body .container .head-menu .mastercraft {
  position: absolute;
  top: -16%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .container .head-menu h1 {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  line-height: 3;
}

body .container .head-menu .flexTwo {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

body .container .head-menu .flexTwo button {
  font-weight: bold;
  border: none;
  padding: 20px;
  color: white;
  border-radius: 30px;
  width: 180px;
  cursor: pointer;
  background-color: #3cb4ac;
}

body .container .head-menu .flexTwo .toggle {
  background-color: #c5c3c3;
  position: relative;
  text-align: center;
  color: #252525;
}

body .container .head-menu .flexTwo .toggle img {
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
}

body .container .statices {
  padding: 30px;
}

body .container .statices .grid-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

body .container .statices .grid-3 div {
  position: relative;
  padding: 20px;
}

body .container .statices .grid-3 div::after {
  content: "";
  height: 60%;
  width: 1px;
  display: block;
  background-color: grey;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .container .statices .grid-3 div span {
  font-size: 40px;
  font-weight: bold;
  display: block;
}

body .container .statices .progress {
  width: 100%;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  margin-top: 20px;
  z-index: -1;
}

body .container .statices .progress div {
  z-index: 99;
  width: 89%;
  background-color: #3cb4ac;
  height: 10px;
  border-radius: 10px;
}

body .container .info {
  padding: 30px;
}

body .container .info > span {
  font-weight: bold;
  font-size: 25px;
  display: block;
  text-align: left;
  padding: 0px 0px 30px 0px;
}

body .container .info p {
  text-align: left;
  padding-bottom: 30px;
  color: rgba(0, 0, 0, 0.9);
}

body .container .info .tiles {
  padding: 20px;
}

body .container .info .tiles .tile {
  padding: 20px;
  -webkit-box-shadow: 0px 0px 3px 0px grey;
          box-shadow: 0px 0px 3px 0px grey;
  margin-bottom: 30px;
  border-radius: 10px;
}

body .container .info .tiles .tile header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

body .container .info .tiles .tile header p {
  font-weight: bold;
  font-size: 25px;
}

body .container .info .tiles .tile header span {
  font-weight: bold;
  font-size: 20px;
  color: #3cb4ac;
}

body .container .info .tiles .tile .opitions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .info .tiles .tile .opitions button {
  font-weight: bold;
  border: none;
  padding: 20px;
  color: white;
  border-radius: 30px;
  width: 180px;
  cursor: pointer;
  background-color: #3cb4ac;
}

body .container .info .tiles .tile .opitions p {
  padding-bottom: 0px;
  color: rgba(0, 0, 0, 0.8);
}

body .container .info .tiles .tile .opitions p span {
  font-weight: bold;
  font-size: 30px;
  color: black;
}

body .offers {
  width: 70%;
  margin: 50px auto;
  position: relative;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 3px 0px grey;
          box-shadow: 0px 0px 3px 0px grey;
  max-width: 1440px;
}

body .offers svg {
  position: absolute;
  right: 10px;
  top: 10px;
}

body .offers svg g {
  fill: black;
}

body .offers p span {
  font-weight: bold;
  padding: 20px 0px;
  display: block;
  font-size: 25px;
}

body .offers div {
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 3px 0px grey;
          box-shadow: 0px 0px 3px 0px grey;
  border-radius: 10px;
  height: auto;
  padding: 20px;
  -webkit-transition: 1s height linear;
  transition: 1s height linear;
}

body .offers div input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

body .offers div input[type="radio"]::before {
  content: "";
  width: 70%;
  height: 70%;
  background-color: #3cb4ac;
  display: block;
  border-radius: 50%;
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  position: absolute;
  top: 15%;
  left: 15%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

body .offers div input[type="radio"]:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body .offers div label {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding: 20px 0px;
}

body .offers div .opitions {
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto;
  padding: 0px;
  margin: 0px;
}

body .offers div .opitions p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .offers div .opitions span {
  display: inline;
}

body .offers div .opitions button {
  font-weight: bold;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 30px;
  width: 90px;
  cursor: pointer;
  background-color: #3cb4ac;
}

body .offers div .opitions .w-btn {
  background-color: white;
  color: black;
  border: 1px solid black;
}
/*# sourceMappingURL=main-page.css.map */