* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Public Sans", sans-serif;
}

body > header {
  background-image: url(images/image-hero-desktop.jpg);
  background-size: cover;
  height: 500px;
  position: relative;
  margin: 0px auto;
  display: block;
  z-index: 1;
  position: relative;
}

body > header nav {
  max-width: 1440px;
  margin: 0px auto;
}

body > header nav .container {
  margin-top: 0px;
  background-color: transparent;
  position: absolute;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
}

body > header nav .container .burger {
  opacity: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: default;
}

body > header nav .container img {
  position: relative;
}

body > header nav .container ul {
  list-style-type: none;
}

body > header nav .container ul li {
  display: inline-block;
  padding: 0px 10px;
}

body > header nav .container ul li:hover {
  cursor: pointer;
}

body > header nav .container ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

body .container {
  z-index: 2;
  margin: 0px auto;
  max-width: 1440px;
  width: 70%;
  margin-top: -80px;
  z-index: 1;
  text-align: center;
}

body .container section {
  background-color: white;
  margin: 0px auto 50px auto;
  width: 90%;
  margin-bottom: 50px;
  padding: 0px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 0px grey;
          box-shadow: 0px 0px 3px 0px grey;
}

body .container .head-menu {
  z-index: 2;
  position: relative;
}

body .container .head-menu .mastercraft {
  position: absolute;
  top: -16%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .container .head-menu h1 {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  line-height: 3;
}

body .container .head-menu .flexTwo {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

body .container .head-menu .flexTwo button {
  font-weight: bold;
  border: none;
  padding: 20px;
  color: white;
  border-radius: 30px;
  width: 180px;
  background-color: #3cb4ac;
  z-index: 2;
  /* min-width: 135px; */
  white-space: nowrap;
}

body .container .head-menu .flexTwo button:hover {
  cursor: pointer;
  background-color: #2d8680;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

body .container .head-menu .flexTwo .toggle {
  background-color: #c5c3c3;
  position: relative;
  text-align: center;
  color: #252525;
}

body .container .head-menu .flexTwo .toggle:hover {
  background-color: #c5c3c3;
}

body .container .head-menu .flexTwo .toggle img {
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
}

body .container .statices {
  padding: 30px;
}

body .container .statices .grid-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

body .container .statices .grid-3 div {
  position: relative;
  padding: 20px;
}

body .container .statices .grid-3 div::after {
  content: "";
  height: 60%;
  width: 1px;
  display: block;
  background-color: grey;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .container .statices .grid-3 div span {
  font-size: 40px;
  font-weight: bold;
  display: block;
}

body .container .statices .grid-3 .nopcafter::after {
  height: 0px;
}

body .container .statices .progress {
  width: 100%;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  margin-top: 20px;
  z-index: -1;
}

body .container .statices .progress div {
  z-index: 99;
  width: 89%;
  background-color: #3cb4ac;
  height: 10px;
  border-radius: 10px;
}

body .container .info {
  padding: 30px;
}

body .container .info > span {
  font-weight: bold;
  font-size: 25px;
  display: block;
  text-align: left;
  padding: 0px 0px 30px 0px;
}

body .container .info p {
  text-align: left;
  padding-bottom: 30px;
  color: rgba(0, 0, 0, 0.9);
}

body .container .info .tiles {
  padding: 20px;
}

body .container .info .tiles .tile {
  padding: 20px;
  -webkit-box-shadow: 0px 0px 3px 0px grey;
          box-shadow: 0px 0px 3px 0px grey;
  margin-bottom: 30px;
  border-radius: 10px;
}

body .container .info .tiles .tile header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

body .container .info .tiles .tile header p {
  font-weight: bold;
  font-size: 25px;
}

body .container .info .tiles .tile header span {
  font-weight: bold;
  font-size: 20px;
  color: #3cb4ac;
}

body .container .info .tiles .tile .opitions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .info .tiles .tile .opitions button {
  font-weight: bold;
  border: none;
  padding: 20px;
  color: white;
  border-radius: 30px;
  width: 180px;
  cursor: pointer;
  background-color: #3cb4ac;
}

body .container .info .tiles .tile .opitions button:hover {
  background-color: #2d8680;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

body .container .info .tiles .tile .opitions .unclickable {
  background-color: grey;
}

body .container .info .tiles .tile .opitions .unclickable:hover {
  background-color: #6b6a6a;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

body .container .info .tiles .tile .opitions p {
  padding-bottom: 0px;
  color: rgba(0, 0, 0, 0.8);
}

body .container .info .tiles .tile .opitions p span {
  font-weight: bold;
  font-size: 30px;
  color: black;
}

body .offers {
  width: 69%;
  height: 94%;
  margin: 50px auto;
  position: fixed;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 3px 0px grey;
          box-shadow: 0px 0px 3px 0px grey;
  border-radius: 10px;
  max-width: 1440px;
  max-height: 850px;
  opacity: 0;
  -webkit-transition: opacity 10ms linear;
  transition: opacity 10ms linear;
  -webkit-transition: width 100ms linear;
  transition: width 100ms linear;
  -webkit-transition: height 100ms linear;
  transition: height 100ms linear;
  z-index: -1;
}

body .offers svg {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

body .offers svg g {
  fill: black;
}

body .offers p span {
  font-weight: bold;
  padding: 10px 0px;
  display: block;
  font-size: 35px;
}

body .offers p span :no-button {
  font-weight: bold;
}

body .offers div {
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 3px 0px grey;
          box-shadow: 0px 0px 3px 0px grey;
  border-radius: 10px;
  height: auto;
  padding: 20px;
  -webkit-transition: 1s height linear;
  transition: 1s height linear;
  border: 2px solid transparent;
}

body .offers div .flex-box {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .offers div input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

body .offers div input[type="radio"]::before {
  content: "";
  width: 70%;
  height: 70%;
  background-color: #3cb4ac;
  display: block;
  border-radius: 50%;
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  position: absolute;
  top: 15%;
  left: 15%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

body .offers div input[type="radio"]:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body .offers div input[type="radio"].remove::before {
  background-color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
}

body .offers div label {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding: 20px 0px;
  width: 80%;
}

body .offers div label .colored-span {
  color: #3cb4ac;
  margin-left: 10px;
}

body .offers div .opitions {
  display: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto;
  padding: 0px;
  max-height: 0px;
  margin: 0px;
}

body .offers div .opitions p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .offers div .opitions span {
  display: inline;
  font-weight: 100;
  font-size: 15px;
}

body .offers div .opitions button {
  font-weight: bold;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 30px;
  width: 90px;
  background-color: #3cb4ac;
}

body .offers div .opitions button:hover {
  cursor: pointer;
  background-color: #2d8680;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

body .offers div .opitions hr {
  margin: 8px auto;
  height: 1px;
}

body .offers div .opitions .w-btn {
  background-color: white;
  color: black;
  border: 1px solid black;
}

body .offers div .opitions .w-btn:hover {
  cursor: default;
}

body .offers .selected {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #3cb4ac;
}

body .success-modal {
  display: none;
}

body .newOffer {
  background-color: white;
  position: fixed;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  opacity: 1;
  height: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body .offers::-webkit-scrollbar {
  width: 15px;
}

body .offers::-webkit-scrollbar-track {
  background-color: #c5c3c3;
}

body .offers::-webkit-scrollbar-thumb {
  width: 15px;
  border-radius: 5px;
  background-color: #3cb4ac;
}

body .black-screen {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
}

body .success-modal {
  width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  padding: 20px;
  z-index: 10;
  border-radius: 10px;
}

body .success-modal span {
  display: block;
  width: 100%;
  margin: 30px auto;
  font-weight: bold;
  font-size: 25px;
}

body .success-modal p {
  line-height: 2;
}

body .success-modal svg {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 30px auto;
}

body .success-modal button {
  margin: 30px auto;
  font-weight: bold;
  border: none;
  padding: 15px 25px;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  background-color: #3cb4ac;
}

body .success-modal button:hover {
  background-color: #2d8680;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

@media (max-width: 770px) {
  body .success-modal {
    width: 70%;
  }
  body .container {
    width: 95%;
  }
  body .container .head-menu h1 {
    font-size: 25px;
    padding-top: 10px;
    line-height: 2;
  }
}

@media (max-width: 570px) {
  body header {
    z-index: 6;
  }
  body header nav .container ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: white;
    width: 70%;
    border-radius: 10px;
  }
  body header nav .container ul li {
    display: block;
    padding: 20px;
    border-top: 1px solid black;
    text-align: left;
  }
  body header nav .container ul li a {
    color: black;
  }
  body header nav .container ul.dropmenu {
    display: block;
  }
  body header nav .container ul.dropmenu {
    z-index: 15;
  }
  body header nav .container ul.dropmenu li:hover {
    background-color: #d3d2d2;
    z-index: 14;
  }
  body header nav .container .burger {
    opacity: 1;
    position: absolute;
    top: 20px;
    right: 30px;
  }
  body .success-modal {
    width: 85%;
  }
  body .container .head-menu {
    z-index: 7;
  }
  body .container .head-menu h1 {
    font-size: 15px;
    padding-top: 25px;
    line-height: 1;
    padding-bottom: 15px;
  }
  body .container .info {
    padding: 30px 15px;
  }
  body .container .head-menu .flexTwo .toggle {
    border-radius: 50%;
    width: 0px;
    background-color: transparent;
  }
  body .container .head-menu .flexTwo .toggle span {
    display: none;
  }
  body .container .statices .grid-3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body .container .statices .grid-3 div::after {
    position: absolute;
    bottom: 0px;
    right: 50%;
    top: 70%;
    left: 50%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  body .container .statices .grid-3 .nophoneafter::after {
    height: 0px;
  }
  body .container .statices .grid-3 .nopcafter::after {
    height: 60%;
  }
}

@media (max-width: 430px) {
  body .success-modal {
    width: 95%;
  }
  body .success-modal span {
    margin: 10px;
  }
  body .newOffer {
    padding: 10px;
    width: 95%;
  }
  body .offers div {
    padding: 10px;
  }
  body .offers div .opitions p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .offers div .flex-box span {
    white-space: nowrap;
  }
  body .offers div label span {
    font-size: smaller;
  }
  body .offers div label span .colored-span {
    display: block;
    font-size: smaller;
    padding-left: 15px;
  }
  body .container {
    width: 95%;
  }
  body .container section {
    padding: 0px 5px;
  }
  body .container .info .tiles {
    padding: 0px;
  }
  body .container .info .tiles .tile header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
  body .container .info .tiles .tile header p, body .container .info .tiles .tile header span {
    text-align: left;
    font-size: 20px;
  }
  body .container .info .tiles .tile header p {
    padding-bottom: 0px;
  }
  body .container .info .tiles .tile .opitions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .container .info .tiles .tile .opitions button {
    width: 130px;
    padding: 15px;
  }
}

body .closeDiv {
  width: 100vh;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: transparent;
  z-index: 3;
}

body .hidden {
  z-index: -1;
}
/*# sourceMappingURL=main-page.css.map */